<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="icon" type="image/png" href="../images/favicon.png">
  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
	<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.candy.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="../static/css/material-dashboard.css?v=2.1.0" rel="stylesheet" >

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../static/img/sidebar-1.jpg">
      <div class="logo">
        <a href="{{ url_for('index') }}" class="simple-text logo-normal">
          Cook County Sentencing
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <!-- your sidebar elements here -->
              <li class="nav-item {{ 'active' if item == 'index' else ''}}">
                <a class="nav-link" href="{{ url_for('index') }}">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item {{ 'active' if item == 'demographics' else ''}}">
                <a class="nav-link" href="{{ url_for('demographics') }}">
                  <p>Demographics</p>
                </a>
              </li>
              <li class="nav-item {{ 'active' if item == 'offense_category' else ''}}">
                <a class="nav-link" href="{{ url_for('offense_category') }}">
                  <p>Offense Categories</p>
                </a>
              </li>
              <li class="nav-item {{ 'active' if item == 'length_of_case' else ''}}">
                <a class="nav-link" href="{{ url_for('length_of_case') }}">

                  <p>Length of Cases</p>

                </a>
              </li>
              <li class="nav-item {{ 'active' if item == 'courts' else ''}}">
                <a class="nav-link" href= "{{ url_for('courts') }}">
                  <p>Courts</p>
                </a>
              </li>
              <li class="nav-item {{ 'active' if item == 'about' else ''}}">
                <a class="nav-link" href="{{ url_for('about') }}">
                  <p>About</p>
                </a>
              </li>    
              <li class="nav-item {{ 'active' if item == 'map' else ''}}">
                <a class="nav-link" href="{{ url_for('map') }}">
                  <p>Judicial Districts Map</p>
                </a>
              </li>
        </ul>
      </div>
    </div>


    <div class="main-panel">
          
      <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <h2>{% block page_header %}{% endblock %}</h2>
              </div>
              <br>
              <div class="float-right">
                <h4>Data for 2010-2020</h4>
              </div>
            </div>
          </nav>

      {% block main_panel %}{% endblock %}
    </div>     
      

  </div>
  
  {% block scripts %}{% endblock %}

</body>

  <!--   Core JS Files -2   -->
  <script src="/static/js/core/jquery.min.js"></script>
  <script src="/static/js/core/popper.min.js"></script>
  <script src="/static/js/core/bootstrap-material-design.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
