{% extends "base.html" %}

{% block title %}Cook County Sentencing - Courts Information{% endblock %}

{% block page_header %}Comparisions by Circuit Court District{% endblock %}

  {% block main_panel %}
       <!-- Body -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12 col-lg-12">          
                <div id="cn_st_multibar"></div>                
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="card card-chart">               
                <div id="offense_multi"></div>                
                <div class="card-body"></div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6"> 
              <div class="card card-chart">               
                <div id="sentence_multi"></div>                
                <div class="card-body"></div>
              </div>
            </div>
          </div> -->
    
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card card-chart">               
                <div id="age_ct_scatter"></div>                
                <div class="card-body"></div>
              </div>
            </div>
          </div>

          <div class="row col-lg-12">
            <h3>Insert written analysis of courts data here</h3>
          </div>

        </div>
      </div>
    {% endblock %}
    
    {% block scripts %}
    <script src="static/js/age_ct_scatter.js"></script>
    <script src="static/js/cn_st_multibar.js"></script>
    <script src="static/js/courts_multipie.js"></script>
    {% endblock %}