{% extends "dropdown.html" %}

{% block title %}Cook County Sentencing - Demographics Information{% endblock %}

{% block page_header %}Comparisions by Demographics{% endblock %}

  {% block main_panel %}
   
    <!-- Body -->
      <div class="content">
        <div class="container-fluid">
         
          {{ super() }}

          <div class="row col-lg-12">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="card card-chart">
                <div id="demographics_age"></div>
                <div class="card-body"></div>
              </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="card card-chart">               
                <div id="demographics_gender"></div>                
                <div class="card-body"></div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="card card-chart">               
                <div id="demographics_race"></div>                
                <div class="card-body"></div>
              </div>
            </div>
          </div>

          <div class="row col-lg-12">
            <h3>Insert written analysis of demographic data here</h3>
          </div>
          
        </div>
      </div>
    {% endblock %}

    <!--   Core JS Files   -->
    
    {% block scripts %}
  <script src="static/js/demographics.js"></script>
    {% endblock %}
