{% extends "base.html" %}

{% block title %}Cook County Sentencing{% endblock %}

{% block page_header %}Cook County Sentencing Data Dashboard{% endblock %}

  {% block main_panel %}
      <div class="content">
        <div class="container-fluid">
          <h4>This page represents an analysis of the Cook County State’s Attorney Office (CCSAO) public data set on sentencing, last updated in December of 2019.  The project is the final product of various phases of data cleaning, data queries, and dashboard programming to display the final results. The data reviewed was limited to Cook county sentencing data from 2015-2019. Please take some time to review the interactive charts exploring data on demographics, case duration, sentences given, and offense type categories.</h4>
          <br>
          <div class="row">
            <div class="col-xl-6 col-lg-6">             
              <div id="oc_multicolumn1"></div>                
            </div>

            <div class="col-xl-6 col-lg-6">            
                <div id="multi_demographics_male"></div>                
                <div id="multi_demographics_female"></div>                
            </div>

            <br>
          </div>
          
          <div class="row">
            <div class="col-xl-12 col-lg-12">         
              <div id="cn_st_multibar"></div>                
            </div>
          </div>

        </div>
      </div>
  {% endblock %}

  <!--   Core JS Files   -->

  {% block scripts %}
  <script src="./static/js/demographic_multipie.js"></script>
  <script src="./static/js/cn_st_multibar.js"></script>
  <script src="static/js/offense_multipie.js"></script>
  {% endblock %}