{% extends "base.html" %}

{% block title %}Cook County Sentencing - Information about Cases{% endblock %}

{% block page_header %}Comparisions by Cases{% endblock %}

  {% block main_panel %}

      <!-- Body -->
  <div class="content">
    <div class="container-fluid">
      <div class="col-xl-12 col-lg-12">             
          <div id="loc_oc_boxplot"></div>                
      </div>

      <div class="col-xl-12 col-lg-12">
        <div class="card card-chart">               
          <div id="loc_ct_scatter"></div>
          <div class="card-body"></div>                
        </div>
      </div>

      <div class="row col-lg-12">
        <h3>Insert written analysis of length of case data here</h3>
      </div>
    </div>
  </div>
      {% endblock %}

      <!--   Core JS Files   -->
      
      {% block scripts %}
      <script src="static/js/loc_ct_scatter.js"></script>
      <script src="static/js/loc_oc_boxplot.js"></script>
      {% endblock %}