{% extends "base.html" %}

{% block title %}Cook County Sentencing - Offenses Information{% endblock %}

{% block page_header %}Comparisons by Offense Category{% endblock %}

{% block main_panel %}
      <!-- Body -->
    <!-- <br> -->
      <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="card card-chart">               
              <div id="oc_multicolumn1"></div>                
              <!-- <div class="card-body"></div> -->
            </div>
          </div>

          <!-- <div class="row"> -->
            <div class="col-xl-6 col-lg-6">
              <div class="card card-chart">               
                <div id="oc_multicolumn2"></div>                
                <!-- <div class="card-body"></div> -->
              </div>
            </div>
        <!-- </div> -->

      </div>
    </div>
  </div>

        {% endblock %}

  <!--   Core JS Files   -->
        
  {% block scripts %}
  <script src="static/js/ct_oc_boxplot.js"></script>
  <script src="static/js/offense_multipie.js"></script>
  {% endblock %}
