{% extends "base.html" %}

{% block title %}Cook County Sentencing - Courts Information{% endblock %}

  {% block main_panel %}
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Courts</a>
          </div>
        </div>
        <div class="copyright float-right">
          <p>hey</p>
        </div>
      </nav>

       <!-- Body -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card card-chart">               
                  <div id="cn_st_multibar"></div>                
                <div class="card-body"></div>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="card card-chart">               
                <div id="offense_multi"></div>                
                <div class="card-body"></div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6"> 
              <div class="card card-chart">               
                <div id="sentence_multi"></div>                
                <div class="card-body"></div>
              </div>
            </div>
          </div> -->
    
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card card-chart">               
                  <div id="age_ct_scatter"></div>                
                <div class="card-body"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    {% endblock %}

    <!--   Core JS Files   -->
    
    {% block scripts %}
    <script src="static/js/age_ct_scatter.js"></script>
    <script src="static/js/cn_st_multibar.js"></script>
    <script src="static/js/courts_multipie.js"></script>
    {% endblock %}
  
  <!--   Core JS Files -2   -->
<!--   <script src="./assets/js/core/jquery.min.js"></script> -->
<!--   <script src="./assets/js/core/popper.min.js"></script> -->
<!--   <script src="./assets/js/core/bootstrap-material-design.min.js"></script> -->
<!--   <script src="./assets/js/core/material-dashboard.js?v=2.1.0"></script> -->