{% extends "dropdown.html" %}

{% block title %}Cook County Sentencing - Demographics Information{% endblock %}

{% block page_header %}Comparisions by Demographics{% endblock %}

  {% block main_panel %}
   
    <!-- Body -->
      <div class="content">
        <div class="container-fluid">
          {{ super() }}

          <div class="row col-lg-12">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="card card-chart">
                <div id="demographics_age"></div>
                <div class="card-body"></div>
              </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="card card-chart">               
                <div id="demographics_gender"></div>                
                <div class="card-body"></div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="card card-chart">               
                <div id="demographics_race"></div>                
                <div class="card-body"></div>
              </div>
            </div>
          </div>

          <div class="row col-lg-12">
            <h1>Insert written analysis of demographic data here</h1>
          </div>
          
        </div>
      </div>
    {% endblock %}

    <!--   Core JS Files   -->
    
    {% block scripts %}
  <script src="static/js/demographics_age.js"></script>
  <script src="static/js/demographics_gender.js"></script>
  <script src="static/js/demographics_race.js"></script>


  <!-- Bootstraps -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
