    {% extends "base.html" %}

    {% block main_panel %}

    <div class="filters row col-lg-12">
        <div class="col-lg-4 d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Court Name
                </button>
                <div class="dropdown-menu" id=dropdown1 aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        Action
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Offense Category
                </button>
                <div class="dropdown-menu" id=dropdown2 aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        Action
                    </a>   
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sentence           
                </button>
                <div class="dropdown-menu" id=dropdown3 aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        Action
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}