{% extends "base.html" %}

{% block title %}Cook County Sentencing{% endblock %}

  {% block main_panel %}
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)"> This is {{ chart_title }}</a>

          </div>
        </div>
        <div class="copyright float-right">
          <p>hey</p>
        </div>
      </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row">


            <div class="col-xl-12 col-lg-12">
              <div class="card card-chart">               
                <div id="multi_demographics">FusionCharts XT will load here!</div>                
                <div class="card-body">
                  <h4 class="card-title">Race Demographics</h4>
                  <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div>

                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                  </div>
                </div>
              </div>
            </div>

            </div>

        </div>
      </div>
  {% endblock %}

  <!--   Core JS Files   -->

  {% block scripts %}
  <script src="{{ url_for('static', filename='../static/css/assets/js/core/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/css/assets/js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/css/assets/js/core/bootstrap-material-design.min.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/css/assets/js/core/material-dashboard.js?v=2.1.0') }}"></script>
  <script src="static/css/assets/js/plots.js"></script>
  <script src="../static/css/assets/js/demographic_multipie.js"></script>
  {% endblock %}