{% extends "base.html" %}

{% block title %}Cook County Sentencing{% endblock %}

  {% block main_panel %}
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <h1>Cook County Sentencing Data Dashboard</h1>
          </div>
          <br>
          <div class="float-right">
            <h2>data for 2015-2019</h2>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-xl-6 col-lg-6">
              <div class="card card-chart">               
                <div id="multi_demographics_male"></div>                
                <div class="card-body"></div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6">
              <div class="card card-chart">               
                <div id="multi_demographics_female"></div>                
                <div class="card-body"></div>
              </div>
            </div>

          </div>

          <div class=row></div>

        </div>
      </div>
  {% endblock %}

  <!--   Core JS Files   -->

  {% block scripts %}
  <script src="./static/js/core/jquery.min.js"></script>
  <script src="./static/js/core/popper.min.js"></script>
  <script src="./static/js/core/bootstrap-material-design.min.js"></script>
  <script src="./static/js/material-dashboard.js?v=2.1.0"></script>
  <script src="./static/js/demographic_multipie.js"></script>
  {% endblock %}